In [3]:
pip install tabula-py

Collecting tabula-py
  Downloading https://files.pythonhosted.org/packages/8d/ed/20655a47a603430272c995d908d0dd96f93c2aa8973c8a55a66c8f3b8dfe/tabula_py-2.1.1-py3-none-any.whl (10.4MB)
     |████████████████████████████████| 10.4MB 1.2MB/s eta 0:00:01
Collecting distro (from tabula-py)
  Downloading https://files.pythonhosted.org/packages/25/b7/b3c4270a11414cb22c6352ebc7a83aaa3712043be29daa05018fd5a5c956/distro-1.5.0-py2.py3-none-any.whl
Requirement already satisfied: numpy in /opt/anaconda3/lib/python3.7/site-packages (from tabula-py) (1.17.2)
Collecting pandas>=0.25.3 (from tabula-py)
  Downloading https://files.pythonhosted.org/packages/2f/30/5ab95bee54e0221160af169bdb36c2eb5c65e0549a4c143d54aa515e2f27/pandas-1.1.0-cp37-cp37m-macosx_10_9_x86_64.whl (10.4MB)
     |████████████████████████████████| 10.4MB 2.0MB/s eta 0:00:01
Requirement already satisfied: pytz>=2017.2 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.25.3->tabula-py) (2019.3)
Requirement already satisfied: python-dateutil>=2.7.3 in /opt/anaconda3/lib/python3.7/site-packages (from pandas>=0.25.3->tabula-py) (2.8.0)
Requirement already satisfied: six>=1.5 in /opt/anaconda3/lib/python3.7/site-packages (from python-dateutil>=2.7.3->pandas>=0.25.3->tabula-py) (1.12.0)
Installing collected packages: distro, pandas, tabula-py
  Found existing installation: pandas 0.25.1
    Uninstalling pandas-0.25.1:
      Successfully uninstalled pandas-0.25.1
Successfully installed distro-1.5.0 pandas-1.1.0 tabula-py-2.1.1
Note: you may need to restart the kernel to use updated packages.

In [2]:
import tabula

In [3]:
pdf_file = ["AppendixB_IMMIGRATION_OFFENCES.pdf", "Tier_2_Policy_Guidance.pdf"]

In [26]:
df_loc = tabula.read_pdf(pdf_file[1], output_format="json", pages='all')

In [37]:
print(df_loc[5]['top'], df_loc[5]['left'], df_loc[5]['height'], df_loc[5]['width'])

86.399925 69.47999 145.32012939453125 483.23883056640625

In [48]:
df_loc[5]

NameError: name 'df_loc' is not defined

In [41]:
df[0]

{'extraction_method': 'lattice',
 'top': 316.16492,
 'left': 42.924305,
 'width': 446.3509521484375,
 'height': 99.30999755859375,
 'right': 489.27527,
 'bottom': 415.4749,
 'data': [[{'top': 316.16492,
    'left': 42.924305,
    'width': 198.3955841064453,
    'height': 42.3951416015625,
    'text': 'Standard Occupational\rClassification (SOC) code and\rdescription'},
   {'top': 316.16492,
    'left': 241.31989,
    'width': 247.95538330078125,
    'height': 42.3951416015625,
    'text': 'Job titles included on the United\rKingdom Shortage Occupation List and\rfurther criteria'}],
  [{'top': 358.56006,
    'left': 42.924305,
    'width': 198.3955841064453,
    'height': 56.91485595703125,
    'text': '2114\rSocial and humanities scientists'},
   {'top': 358.56006,
    'left': 241.31989,
    'width': 247.95538330078125,
    'height': 56.91485595703125,
    'text': 'Only the following jobs in this occupation\rcode:\r•Archaeologists'}]]}

In [42]:
df = tabula.read_pdf(pdf_file[1], pages='all')

In [47]:
df[4]

                    Criterion  Points
0  Certificate of Sponsorship      30
1          Appropriate salary      20